{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}


<style>

.award-card {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-50);
	margin-bottom: var(--space-75);
}

.award-card .cover-image {
	padding-top: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media( min-width: 640px )  {
	.award-card {
		padding: var(--space-75);
		grid-template-columns: repeat(2, 1fr);
		gap: var(--space-75);
	}

}
@media( min-width: 1040px ) {
	.award-card {
		grid-template-columns: repeat(3, 1fr);
		gap: var(--space-75);
	}
	.award-card .cover-image {
		grid-column: span 2;
	}
}
@media( min-width: 1480px ) {}
</style>

<!-- Articles Section -->
<section id="articles-section" class="articles-section space-250-top-bottom">
	<div class="container">
		<div class="row">
			<div class="columns small-12 large-2 space-50-bottom">
				<div class="h2 font-h strong text-blue">Articles</div>
			</div>
			<div class="articles columns small-12 large-9 large-offset-1">
				{% for post in awards.award %}
					<div class="award-card fill-light radius-50 no-overflow space-50 box-shadow-blue">
						<div class="cover-image fill-white radius-25" style="background-image: url('{{ post.image }}');"></div>
						<div class="info">
							<div class="h5 font-h strong text-blue space-25-bottom">{{ post.name }}</div>
							<div class="small text-neutral-3 space-25-bottom">Awarded on: {{ post.date | date: "%B %d, %Y" }}</div>
							<div class="label space-50-bottom">{{ post.description | truncate: 240, "..." }}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- END: Articles Section -->


{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}