{% include 'parts/head.liquid' %}

<!-- <section id="catalogue-section" class="catalogue-section space-250-top-bottom">
	<div class="container">
		<div class="row"> -->

	{% include 'parts/catalogue_v2.liquid' %}

<!-- 		</div>
	</div>
</section> -->

{% include 'parts/foot.liquid' %}