{% include 'parts/head.liquid' %}

<!-- App Section -->
<section id="app-section" class="app-section">
	<div class="container">
		<div class="row">
			<div class="columns small-12 medium-8 large-6 fill-dark space-100">
				<div class="h3 text-red">CatBase Fire Test</div>
				<ul id="cat-var-list"></ul>
			</div>
		</div>
	</div>
</section>
<!-- END: App Section -->

{% include 'parts/foot.liquid' %}