{% include 'parts/head.liquid' %}


		<!-- DB Sync Section -->
		<section id="dbsync-section" class="dbsync-section">
			<div class="container">
				<div class="row space-100-top-bottom">
					<div class="columns small-9 inline-middle">
						<div id="userTitle" class="h3 font-h">Admin Login</div>
					</div>
					<div class="columns small-3 inline-middle text-right">
						<!-- <div data-netlify-identity-menu></div> -->
						<div class="button fill-blue" data-netlify-identity-button></div>
					</div>
				</div>
				<div class="row" id="dbsync" style="display: none;">
				<!-- <div class="row"> -->
					<form class="form-box" action="">
						<div class="columns small-12 space-25">
							<div class="h5 text-blue text-center">Authorize Data Fetch</div>
						</div>
						<div class="form-field columns small-12 large-3 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-white">User <span class="text-red">*</span></span>
								<input type="text" name="user" class="input-field block" required autocomplete="off">
							</label>
						</div>
						<div class="form-field columns small-12 large-3 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-white">Password <span class="text-red">*</span></span>
								<input type="password" name="password" class="input-field block" required autocomplete="off">
							</label>
						</div>
						<div class="form-field columns small-12 large-3 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-white invisible">Variations</span>
								<button class="block fill-blue" id="fetch-variations">Fetch Variations</button>
							</label>
						</div>
						<div class="form-field columns small-12 large-3 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-white invisible">Categories</span>
								<button class="block fill-blue" id="fetch-categories">Fetch Categories</button>
							</label>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- END: DB Sync Section -->

		<script>
		const dbsync = document.getElementById('dbsync');
		const userTitle = document.getElementById('userTitle');

		function updateElementVisibility() {
			const user = window.netlifyIdentity.currentUser();
			
			if (user) {
				dbsync.style.display = 'block';
			} else {
				dbsync.style.display = 'none';
			}

			function displayUsername() {
				if (user) {
					// Check for common username properties, adjust as needed based on your auth provider
					// const username = user.email || user.name || user.nickname || 'User';
					const username = user.user_metadata.full_name || 'User';
					userTitle.textContent = `Hi, ${username}`;
				} else {
					userTitle.textContent = 'Admin Login';
				}
			}

			// Call on initial load
			displayUsername();
		}

		if (window.netlifyIdentity) {
			window.netlifyIdentity.on('init', user => {
				updateElementVisibility();
			});

			window.netlifyIdentity.on('login', user => {
				updateElementVisibility();
			});

			window.netlifyIdentity.on('logout', () => {
				updateElementVisibility();
			});
		}
		</script>



{% include 'parts/foot.liquid' %}
