{% include 'parts/head.liquid' %}
{% include 'parts/menu.liquid' %}



		<!-- DB Sync Section -->
		<section id="dbsync-section" class="dbsync-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div data-netlify-identity-menu></div>
						<div class="h3 strong">Welcome to Database Sync:</div>
						<!-- JSON Link Buttons -->
						<div id="dbsync" style="display: none;">
						    <button id="fetch-variations">Fetch Variations</button>
						    <button id="fetch-categories">Fetch Categories</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END: DB Sync Section -->




{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
