{% include 'parts/head.liquid' %}
{% include 'parts/menu.liquid' %}



		<!-- Intro Section -->
		<!-- <section id="intro-section" class="intro-section space-250-top-bottom"> -->
		<section id="welcome" class="intro-section space-250-top-bottom">
			<div class="container">
				<div class="row intro">
					<div class="logo columns small-12 medium-8 large-6">
						<img class="block" src="media/logo-combination-eng.png">
					</div><br>
					<div class="columns small-12 medium-8 large-7 space-150-top">
						<div class="title text-blue h4 font-h strong space-100-bottom">
							<!-- End-to-end Commercial Solutions <span class="show-small-block show-large-inline">in <span class="js-immigration-text text-orange text-underline"></span></span> -->
							End-to-end Commercial Solutions in <span class="js-immigration-text text-orange text-underline"></span>
						</div>
						<a href="" class="button fill-blue">View Catalogue</a>
					</div>
					<div class="intro-video">
						<div class="video-embed video-embed-bg">
						<!-- <div class="video-embed video-embed-bg" style="z-index: 1; filter: opacity(85%);"> -->
							<iframe src="https://www.youtube-nocookie.com/embed/qzJ1alTf1_A?playlist=qzJ1alTf1_A&html5=1&color=white&disablekb=1&fs=0&autoplay=1&loop=1&modestbranding=1&playsinline=1&rel=0&showinfo=0&enablejsapi=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>
					<div class="points columns small-10 medium-9 large-6 space-150-top">
						<div class="row">
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">15K+</div>
								<div class="p space-50-bottom">Happy Customers</div>
							</div>
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">60+</div>
								<div class="p space-50-bottom">Years Of Experience</div>
							</div>
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">12+</div>
								<div class="p space-50-bottom">Countries Served</div>
							</div>
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">100+</div>
								<div class="p space-50-bottom">Associated Brands</div>
							</div>
							<div class="description p columns small-12 space-50-top">Bharat Glass & Crockeries is your comprehensive hospitality partner, providing Kitchenware, Glassware, Cutlery, Bar Equipment, Flatware, Crockery, Buffet Ware, Banquet Equipment, Electrical Appliances, and Housekeeping supplies, along with Customised Commercial Kitchens and Turnkey Project Management solutions.</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Intro Section -->
		<script>
			var typing=new Typed(".js-immigration-text", {
				strings: ["", "Hotels", "Restaurants", "Bakery", "Catering"],
				typeSpeed: 100,
				backSpeed: 40,
				loop: true,
			});
		</script>



		<!-- Catalogue Section -->
		{% include 'parts/catalogue_v2.liquid' %}
		<!-- End: Catalogue Section -->



		<!-- Fabrication Section -->
		<section id="fabrication-section" class="fabrication-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						Custom Kitchen Fabrication & Equipment
						Precision-Engineered Custom Kitchen Solutions
						Transform your commercial kitchen spaces with our extensive range of top-tier kitchenware, bar equipment, and specialised fabrication solutions. Our commitment goes beyond the ordinary – ensuring that every element is meticulously crafted to suit your needs, where every detail matters, and excellence is guaranteed.
					</div>
				</div>
			</div>
		</section>
		<!-- End: Fabrication Section -->



		<!-- Brands Section -->
		<section id="brands-section" class="brands-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- Content Here -->
					</div>
				</div>
			</div>
		</section>
		<!-- End: Brands Section -->



		<!-- Legacy Section -->
		<section id="legacy-section" class="legacy-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- Content Here -->
					</div>
				</div>
			</div>
		</section>
		<!-- End: Legacy Section -->



		<!-- Visit Section -->
		<section id="visit-section" class="visit-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- Content Here -->
					</div>
				</div>
			</div>
		</section>
		<!-- End: Visit Section -->



		<!-- Expertise Section -->
		<section id="expertise-section" class="expertise-section">
			<div class="row hotel" style="border-top: solid 2px var(--blue);">
				<div class="container space-150-top-bottom">
					<div class="columns small-12 medium-5">
						<div class="thumbnail"><img class="block radius-50" src="https://placehold.co/400x600"></div>
					</div>
					<div class="columns small-12 medium-5 medium-offset-2">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right fill-blue radius-min">BGC for : Hotels</div>
						<div class="heading h2 font-h strong space-50-top">Deliver Excellence at Every Table</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-blue">Elevate your hospitality experience</div>
						<div class="description p">Transform your hospitality experience with premium kitchenware, exquisite glassware, and state-of-the-art banquet equipment. We provide industry-leading solutions designed to exceed hotel standards. From the kitchen to the dining table, our collection embodies quality, functionality, and sophistication.</div>
					</div>
					<div class="columns small-12">
						<div class="points row space-150-top">
							<div class="point columns small-12">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-5 large-6 space-25">
										<div class="icon"><img class="block" src="media/icons_cart_blue.png"></div>
									</div>
									<div class="columns small-7 large-12 space-25">
										<div class="h2 font-h strong text-blue">8K+</div>
										<div class="h6">PRODUCT <br>SKUs</div>
									</div>
								</div>
							</div>
							<div class="point columns small-12">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-5 large-6 space-25">
										<div class="icon"><img class="block" src="media/icons_cater_blue.png"></div>
									</div>
									<div class="columns small-7 large-12 space-25">
										<div class="h2 font-h strong text-blue">500+</div>
										<div class="h6">BANQUET <br>EQUIPMENT</div>
									</div>
								</div>
							</div>
							<div class="point columns small-12">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-5 large-6 space-25">
										<div class="icon"><img class="block" src="media/icons_building_blue.png"></div>
									</div>
									<div class="columns small-7 large-12 space-25">
										<div class="h2 font-h strong text-blue">6K SFT</div>
										<div class="h6">EXPERIENCE <br>CENTER</div>
									</div>
								</div>
							</div>
							<div class="point columns small-12">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-5 large-6 space-25">
										<div class="icon"><img class="block" src="media/icons_broom_blue.png"></div>
									</div>
									<div class="columns small-7 large-12 space-25">
										<div class="h2 font-h strong text-blue">300+</div>
										<div class="h6">HOUSEKEEPING <br>ESSENTIALS</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row restaurant" style="border-top: solid 2px var(--orange);">
				<div class="container space-150-top-bottom">
					<div class="columns small-12 medium-6">
						<div class="thumbnail"><img class="block radius-50" src="https://placehold.co/500x400"></div>
					</div>
					<div class="columns small-12 medium-5 medium-offset-1">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right fill-orange radius-min">BGC for : Restaurants</div>
						<div class="heading h2 font-h strong space-50-top">Crafting Experiences to Remember</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-orange">Unmatched Dining & Bar Solutions</div>
						<div class="description p">Revitalize dining spaces with our selection of cutlery, crockery, and bar equipment. Our comprehensive collection of end-to-end kitchen equipment for optimal performance and efficiency. Explore our menu planning services, where creativity meets practicality for a perfect culinary blend. From innovative dishes to optimized resources, we bring your culinary vision to life.</div>
					</div>
					<div class="points columns small-12 space-150-top">
						<div class="point columns small-12">
							<div class="card row fill-white box-shadow-orange space-25 radius-50">
								<div class="columns small-12 space-25">
									<div class="icon"><img class="block radius-25" src="https://placehold.co/400x300"></div>
								</div>
								<div class="columns small-12 space-25">
									<div class="h4 font-h strong text-orange">SATISFIED CLIENTS</div>
									<div class="p">Trusted by over 500+ restaurants, we have a proven track record of successfully guiding businesses from equipment and glassware selection to menu planning.</div>
								</div>
							</div>
						</div>
						<div class="point columns small-12">
							<div class="card row fill-white box-shadow-orange space-25 radius-50">
								<div class="columns small-12 space-25">
									<div class="icon"><img class="block radius-25" src="https://placehold.co/400x300"></div>
								</div>
								<div class="columns small-12 space-25">
									<div class="h4 font-h strong text-orange">CERTIFIED BRANDS</div>
									<div class="p">With 300+ industry-leading brands to ensure the highest quality & reliability. Our certified products and solutions are backed by trusted names in the industry.</div>
								</div>
							</div>
						</div>
						<div class="point columns small-12">
							<div class="card row fill-white box-shadow-orange space-25 radius-50">
								<div class="columns small-12 space-25">
									<div class="icon"><img class="block radius-25" src="https://placehold.co/400x300"></div>
								</div>
								<div class="columns small-12 space-25">
									<div class="h4 font-h strong text-orange">CUSTOM SOLUTIONS</div>
									<div class="p">Over 200+ successful customisations. We fabricate and modify equipment to meet your exact needs. Our tailored solutions optimize operations and enhance your business.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row catering" style="border-top: solid 2px var(--green);">
				<div class="container space-150-top-bottom">
					<div class="columns small-12 medium-5">
						<div class="thumbnail"><img class="block radius-50" src="https://placehold.co/400x600"></div>
					</div>
					<div class="columns small-12 medium-5 medium-offset-2">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right fill-green radius-min">BGC for : Catering</div>
						<div class="heading h2 font-h strong space-50-top">Seamless Event Mastery</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-green">Complete Catering Solutions</div>
						<div class="description p">Streamline catering with our range of buffet ware and advanced electrical kitchen appliances — essential tools for a seamless, successful service. From stylish presentation to efficient prep, our curated collections elevate your catering. Trust us for precision, convenience, and exceptional events.</div>
					</div>
					<div class="columns small-12">
						<div class="points row space-150-top">
							<div class="point columns small-12">
								<div class="card row fill-white box-shadow-green space-25 radius-50">
									<div class="columns small-5 large-3 space-25 inline-middle">
										<div class="icon"><img class="block" src="media/icons_starman_green.png"></div>
									</div>
									<div class="columns small-7 large-8 space-25 inline-middle">
										<div class="h3 font-h strong text-green">EXPERT SALES AGENTS</div>
									</div>
									<div class="columns small-12 space-25 large-8 large-offset-3">
										<ul>
											<li class="p">Highly trained & knowledgeable agents</li>
											<li class="p">Personalized assistance </li>
											<li class="p">Expert guidance & customization</li>
											<li class="p">Support specifically for the catering industry</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="point columns small-12">
								<div class="card row fill-white box-shadow-green space-25 radius-50">
									<div class="columns small-5 large-3 space-25 inline-middle">
										<div class="icon"><img class="block" src="media/icons_caller_green.png"></div>
									</div>
									<div class="columns small-7 large-8 space-25 inline-middle">
										<div class="h3 font-h strong text-green">REMOTE CATERING SUPPORT</div>
									</div>
									<div class="columns small-12 space-25 large-8 large-offset-3">
										<ul>
											<li class="p">24/7 remote support</li>
											<li class="p">Prompt and efficient assistance at any time</li>
											<li class="p">No need for on-site visits</li>
											<li class="p">Dedicated team ensuring seamless service</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row bakery" style="border-top: solid 2px var(--red);">
				<div class="container space-150-top-bottom">
					<div class="columns small-12 medium-6">
						<div class="thumbnail"><img class="block radius-50" src="https://placehold.co/500x400"></div>
					</div>
					<div class="columns small-12 medium-5 medium-offset-1">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right fill-red radius-min">BGC for : Bakerys</div>
						<div class="heading h2 font-h strong space-50-top">Precision Tools for Baking</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-red">Elevate your Culinary Art</div>
						<div class="description p">Perfect your culinary creations with top-notch baking equipment, including premium bakeware, like moulds, mixers, and utensils, ensuring quality and precision. Our kitchen essentials combine functionality with excellence, supported by expert guidance to help your bakery exceed the highest standards.</div>
					</div>
					<div class="points columns small-12 space-150-top">
						<div class="point columns small-12">
							<div class="card row fill-white box-shadow-red space-25 radius-50">
								<div class="columns small-12 space-25">
									<div class="icon"><img class="block radius-25" src="https://placehold.co/400x300"></div>
								</div>
								<div class="columns small-12 space-25">
									<div class="h4 font-h strong text-red">PRODUCT CONSULTATIONS</div>
									<div class="p">Receive expert guidance and advice from our experienced team. Our product consultations help you select the right equipment and supplies to meet your specific needs and achieve your business goals.</div>
								</div>
							</div>
						</div>
						<div class="point columns small-12">
							<div class="card row fill-white box-shadow-red space-25 radius-50">
								<div class="columns small-12 space-25">
									<div class="icon"><img class="block radius-25" src="https://placehold.co/400x300"></div>
								</div>
								<div class="columns small-12 space-25">
									<div class="h4 font-h strong text-red">SPECIALIZED BAKING PRODUCTS</div>
									<div class="p">Discover our extensive range of over 400+ specialized baking product SKUS, from ovens and molds to trays, cooling racks, and decor tools. We offer everything you need to elevate your creations and bake perfection.</div>
								</div>
							</div>
						</div>
						<div class="point columns small-12">
							<div class="card row fill-white box-shadow-red space-25 radius-50">
								<div class="columns small-12 space-25">
									<div class="icon"><img class="block radius-25" src="https://placehold.co/400x300"></div>
								</div>
								<div class="columns small-12 space-25">
									<div class="h4 font-h strong text-red">PRODUCT WARRANTY</div>
									<div class="p">Enjoy peace of mind with our comprehensive product warranty. We are committed to providing reliable and durable products, backed by our unwavering support  team, ready to assist you promptly and efficiently.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Expertise Section -->



		<!-- CTA Section -->
		<section id="cta-section" class="cta-section space-200-top">
			<div class="container">
				<div class="row">
					<div class="columns small-12 large-6">
						<div class="heading">
							<div class="h2 font-h space-50-bottom text-blue"><span class="strong text-blue-dark">Elevate your operation with tailored:</span> End-to-end Ho.Re.Ca Solutions</div>
							<div class="p space-75-bottom" style="width: 75%;">Complete the form below  to initiate the conversation and embark on a journey towards greater success.</div>
						</div>
					</div>
					<div class="columns small-12 large-5 large-offset-1">
						<div class="form-box fill-blue-dark-dark light-blue-light-light radius-25 space-50" style="box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.2), 0 0 var(--space-200) 0px rgba(0, 102, 255, 0.3);">
							<!-- https://docs.google.com/forms/d/e/1FAIpQLScwVGA7s0ndpD6lX7rQNbFu0yQvPlEZrwwYYkqmebG2FJFR2g/viewform?usp=sf_link -->
							<!-- <form action="https://formspree.io/f/xwkgbone" method="POST"> -->
							<form id="homeGeneralLeads" action="https://docs.google.com/forms/d/e/1FAIpQLSeG6nfZX6S_nq29su85Olfx_5UT31lj8Mj50WJIwbrVa1wPTw/formResponse" method="POST" enctype="multipart/form-data">
							<div class="row">
								<div class="columns small-12 space-25">
									<div class="h4">Tell Us About Yourself:</div>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue-dark-dark">Full Name <span class="text-orange">*</span></span>
										<!-- <input type="text" name="egim_fullname" required class="input-field block"> -->
										<input type="text" name="entry.1421501943" required class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue-dark-dark">Email ID <span class="text-orange">*</span></span>
										<!-- <input type="text" name="egim_emailid" required class="input-field block"> -->
										<input type="text" name="entry.839199106" required class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue-dark-dark">Phone Number <span class="text-orange">*</span></span>
										<!-- <input type="text" name="egim_phonenumber" required class="input-field block"> -->
										<input type="text" name="entry.636038964" required class="input-field block">
									</label>
								</div>
								<div class="columns small-12 large-6 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue-dark-dark">Industry</span>
										<!-- <input type="text" name="egim_country" class="input-field block"> -->
										<!-- <select name="egim_country" class="input-field block"> -->
										<select name="entry.203903897" class="input-field block">
											<option value="blank" disabled="disabled" selected="selected">Select</option>
											<option value="Hotel">Hotel</option>
											<option value="Restaurant">Restaurant</option>
											<option value="Bakery">Bakery</option>
											<option value="Catering">Catering</option>
											<option value="Cloud Kitchen">Cloud Kitchen</option>
											<option value="Others">Others</option>
										</select>
									</label>
								</div>
								<div class="columns small-12 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue-dark-dark">message</span>
										<!-- <input type="text" name="egim_purpose" class="input-field block"> -->
										<!-- <input type="text" name="entry.677688100" class="input-field block"> -->
										<textarea class="input-field block" name="entry.1788879696"></textarea>
									</label>
								</div>
								<div class="columns small-12 space-25">
									<label class="block">
										<span class="label form-label text-uppercase inline cursor-pointer space-min invisible">Submit</span>
										<button class="button fill-blue block" type="submit">Request a Call Back</button>
									</label>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: CTA Section -->



		<!-- Features Section -->
		<section id="features-section" class="features-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- Content Here -->
					</div>
				</div>
			</div>
		</section>
		<!-- End: Features Section -->



		<!-- Contact Section -->
		<section id="contact-section" class="contact-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<!-- Content Here -->
					</div>
				</div>
			</div>
		</section>
		<!-- End: Contact Section -->





		<!-- Blank Section -->
		<section id="blank-section" class="blank-section">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
					</div>
				</div>
			</div>
		</section>
		<!-- END: Blank Section -->



		<!-- Sample Section -->
		<section id="sample-section" class="sample-section hidden">
			<div class="container">
				<div class="row">
					<div class="columns small-12">
						<div class="h3">Typography:</div>
						<div class="h1 strong">Lorem ipsum, dolor sit amet consectetur.</div>
						<div class="h2 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h3 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h4 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h5 strong">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="h6">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="p">Lorem ipsum dolor, sit amet consectetur,.</div>
						<div class="label">Lorem ipsum dolor sit amet consectetur.</div>
						<div class="small space-25-bottom">Lorem, ipsum dolor sit amet consectetur.</div>
						<ul>
							
						</ul>
						<a class="button fill-blue" href="https://google.com">Search</a>
					</div>
				</div>
			</div>
		</section>
		<!-- END: Sample Section -->




{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
